

.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.containerInputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.inputContainer{
    display: flex;
    flex-direction: column;
}

.inputContainer > span{
    margin-left: 15px ;
}