@font-face {
  font-family: "Open Sans";
  src: url(./asset//OpenSans-Light.ttf);
}

@font-face {
  font-family:"Open Sans Semibold";
  src: url(./asset/OpenSans-Semibold.ttf);
}

@font-face {
  font-family: "Open Sans Bold";
  src: url(./asset/OpenSans-Semibold.ttf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

#root{
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
